.background-image-section {
    background-image: url('../img/dog-background.jpeg'); /* Update with your image path */
    background-size: cover;
    background-position: center;
    height: 500px; /* Adjust as needed */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white; /* Assuming you want white text */
  }
  
  /* Additional styles for the text if needed */
  .background-image-section h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
  }
  
  .background-image-section p {
    font-size: 1.5rem;
  }
  